html,
body {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
  font-family: GothamProRegular;
  font-size: 16px;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
}
.clearfix {
  content: '';
  display: block;
  clear: both;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: GothamProMedium;
  text-align: center;
}
h1 {
  font-size: 30px;
  line-height: 50px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
.button {
  padding: 15px;
  border: 4px solid #f15151;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s ease;
  outline: none;
}
.button:hover {
  background: #f15151;
}
.button_full {
  background-color: #f15151;
}
.button_full:hover {
  border: 4px solid black;
}
.wrapper {
  width: 1160px;
  margin: 0 auto;
}
.bg_top {
  background-image: url('../images/bg_top.jpg');
  background-position: 50% 0;
  background-size: 100% auto;
}
.hidden {
  opacity: 0;
}
.visible {
  opacity: 1;
}
@font-face {
  font-family: GothamProRegular;
  src: url(../fonts/GothamProRegular.eot), url("../fonts/GothamProRegular.eot?#iefix") format("embedded-opentype"), url(../fonts/GothamProRegular.woff2) format('woff2');
}
@font-face {
  font-family: GothamProMedium;
  src: url(../fonts/GothamProMedium.eot), url("../fonts/GothamProMedium.eot?#iefix") format("embedded-opentype"), url(../fonts/GothamProMedium.woff2) format('woff2');
}
@font-face {
  font-family: GothamProLight;
  src: url(../fonts/GothamProLight.eot), url("../fonts/GothamProLight.eot?#iefix") format("embedded-opentype"), url(../fonts/GothamProLight.woff2) format('woff2');
}
.modal {
  position: fixed;
  z-index: 100;
  height: 100vh;
  width: 100%;
  color: #fff;
}
.modal .bg_modal_trans {
  width: 100vw;
  height: 100vh;
  background-image: url('../images/bg_modal.jpg');
  opacity: 0.9;
}
.modal .modal_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 460px;
}
.modal .modal_content .modal_main_h {
  font-size: 26px;
  text-transform: uppercase;
  text-align: left;
  margin-top: -10px;
  line-height: 30px;
}
.modal .modal_content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.modal .modal_content .close::before {
  content: " ";
  width: 28px;
  display: block;
  border-bottom: 1px solid white;
  transform: rotate(45deg);
  position: absolute;
  top: 0px;
  right: -10px;
  bottom: 0;
}
.modal .modal_content .close::after {
  content: " ";
  width: 28px;
  display: block;
  border-bottom: 1px solid white;
  transform: rotate(-45deg);
  position: absolute;
  top: 0;
  left: -11px;
  bottom: 0;
}
.modal .modal_content p {
  padding-bottom: 40px;
  font-size: 14px;
}
.modal .modal_content form > div:first-of-type {
  width: 48%;
  padding-bottom: 20px;
  float: left;
}
.modal .modal_content form > div:last-of-type {
  width: 48%;
  float: right;
}
.modal .modal_content .chkbox_h {
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: left;
  font-size: 14px;
  text-transform: uppercase;
}
.modal .modal_content input {
  padding: 15px;
}
.modal .modal_content input::-webkit-input-placeholder {
  color: #fff;
}
.modal .modal_content input::-moz-placeholder {
  color: #fff;
}
.modal .modal_content input:-ms-input-placeholder {
  color: #fff;
}
.modal .modal_content input::placeholder {
  color: #fff;
}
.modal .modal_content input:not([type="checkbox"]),
.modal .modal_content textarea {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 2px solid #b3bbf0;
  background-color: transparent;
  color: white;
  resize: none;
}
.modal .modal_content button {
  height: 55px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 18px;
  padding-left: 18px;
  line-height: 55px;
  clear: both;
  background-color: #f15151;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  border: none;
}
.modal .modal_content label + span {
  display: inline-block;
  padding-left: 5px;
  padding-right: 10px;
  font-size: 14px;
}
.modal .modal_content label {
  font-size: 14px;
  font-family: GothamProMedium;
  padding-bottom: 0;
  margin-bottom: -5px;
}
.modal .modal_content .chkbox_label {
  position: relative;
  width: 50%;
  padding-left: 30px;
  padding-bottom: 20px;
  float: left;
  box-sizing: border-box;
}
.modal .modal_content .chkbox_label:last-of-type {
  width: 100%;
}
.modal .modal_content .chkbox_label::after {
  content: '';
  width: 15px;
  height: 15px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  border: 1px solid #b3bbf0;
  cursor: pointer;
}
.modal .modal_content input[type="checkbox"] {
  display: none;
}
.modal .modal_content input[type="checkbox"]:checked + label::before {
  content: '';
  position: absolute;
  top: -2px;
  left: 3px;
  width: 15px;
  height: 5px;
  border-top: 2px solid #f15151;
  border-right: 2px solid #f15151;
  transform: rotate(135deg);
}
.modal .modal_content textarea {
  display: block;
  clear: both;
  position: relative;
  padding: 15px;
  height: 90px;
}
.modal .modal_content textarea::-webkit-input-placeholder {
  color: #fff;
  font-family: ;
}
.modal .modal_content textarea::-moz-placeholder {
  color: #fff;
  font-family: ;
}
.modal .modal_content textarea:-ms-input-placeholder {
  color: #fff;
  font-family: ;
}
.modal .modal_content textarea::placeholder {
  color: #fff;
  font-family: ;
}
.modal .modal_content .tel_comment {
  visibility: hidden;
  position: relative;
  bottom: 5px;
  float: left;
  opacity: 0;
  transition-duration: 0.5s;
  white-space: nowrap;
}
.modal button {
  display: block;
  height: 55px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 18px;
  padding-left: 18px;
  line-height: 55px;
  clear: both;
  background-color: #f15151;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  font-family: GothamProMedium;
}
.modal_hide {
  display: none;
}
.header {
  padding-top: 20px;
  margin-bottom: 30px;
  vertical-align: top;
  height: 100px;
}
.header .logo {
  position: absolute;
  top: 0;
  width: 215px;
  height: 80px;
  background-image: url('../images/logo.png');
}
.header .main_nav {
  margin-left: 250px;
}
.header .main_nav ul li {
  display: inline-block;
  margin-top: 30px;
  margin-right: 30px;
  list-style: none;
  vertical-align: middle;
  cursor: pointer;
}
.header .main_nav ul li:nth-of-type(1) {
  animation-delay: 0.2s;
}
.header .main_nav ul li:nth-of-type(2) {
  animation-delay: 0.4s;
}
.header .main_nav ul li:nth-of-type(3) {
  animation-delay: 0.6s;
}
.header .main_nav ul li a {
  color: #fff;
  text-decoration: none;
}
.header .main_nav ul li a:hover {
  text-decoration: underline;
}
.header .main_nav .mobile_list {
  display: none;
}
.header .main_nav .mobile_list li {
  padding-top: 5px;
}
.header .main_nav .mobile_list li:first-of-type {
  animation-delay: 0.6s;
}
.header .main_nav .mobile_list li:last-of-type {
  animation-delay: 0.8s;
}
.header .main_nav .mobile_list li p {
  color: #fff;
  font-size: 9px;
}
.header .header_right {
  display: none;
}
.advantages {
  padding-top: 50px;
  color: #fff;
  border: 1px solid transparent;
}
.advantages h1 {
  max-width: 650px;
  margin: 0 auto;
  margin-bottom: 50px;
  animation-delay: 1.2s;
}
.advantages .advantage_row {
  display: block;
  margin: 0 auto;
  margin-bottom: 250px;
  font-size: 18px;
  text-align: center;
  animation-delay: 1.4s;
}
.advantages .button {
  animation-delay: 1.6s;
}
.advantages .advantage {
  display: inline-block;
  width: 110px;
  margin: 0 auto;
  margin-right: 50px;
  padding-top: 50px;
  text-align: center;
  background-position: top;
}
.advantages .advantage:last-child {
  margin-right: 0;
}
.advantages .content {
  background-image: url('../images/content.png');
}
.advantages .design {
  background-image: url('../images/design.png');
}
.advantages .mobile {
  background-image: url('../images/mobile.png');
}
.advantages .ads {
  background-image: url('../images/speaker.png');
}
.advantages .button {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
  color: #fff;
}
.advantages .see_works {
  width: 185px;
  margin: 0 auto;
  margin-bottom: 55px;
  border-bottom: 1px dashed #3d84c1;
  animation-delay: 1.8s;
}
.advantages .see_works a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}
.dignity .wrapper {
  position: relative;
}
.dignity .dignity_left {
  display: inline-block;
  width: 100%;
  padding-top: 75px;
  margin-right: -4px;
  padding-right: 215px;
  vertical-align: top;
  text-align: right;
}
.dignity .dignity_left h3 {
  text-align: right;
}
.dignity .dignity_right {
  display: block;
  width: 100%;
  padding-top: 75px;
  margin-right: -4px;
  padding-left: 215px;
  vertical-align: top;
}
.dignity .dignity_right h3 {
  text-align: left;
}
.dignity img {
  position: absolute;
  top: -134px;
  left: 50%;
  transform: translatex(-50%);
}
.dignity .dignity_item {
  margin-bottom: 75px;
}
.dignity .dignity_item h3 {
  font-family: GothamProRegular;
  font-size: 20px;
  line-height: 26px;
}
.dignity .dignity_item p {
  font-size: 14px;
  line-height: 23px;
  color: #666666;
}
.dignity .dignity_first {
  padding-right: 70px;
  background-image: url('../images/cost.png');
  background-position: right top;
}
.dignity .dignity_second {
  padding-right: 70px;
  background-image: url('../images/manager.png');
  background-position: right top;
}
.dignity .dignity_third {
  padding-right: 70px;
  background-image: url('../images/publish.png');
  background-position: right top;
}
.dignity .dignity_fourth {
  padding-left: 70px;
  background-image: url('../images/experience.png');
  background-position: left top;
}
.dignity .dignity_fifth {
  padding-left: 70px;
  background-image: url('../images/warranty.png');
  background-position: left top;
}
.dignity .dignity_sixth {
  padding-left: 70px;
  background-image: url('../images/analitics.png');
  background-position: left top;
}
.phone-slider {
  position: absolute;
  z-index: 10;
  top: -44px;
  left: calc(50% - 165px);
  width: 330px;
  height: 585px;
}
.phone-slider .phone-slide {
  width: 330px;
  height: 585px;
}
.phone-slider .phone-slide img {
  top: 0;
  width: 330px;
  height: 585px;
}
.dignity-slide {
  width: 50%;
}
.swiper-pagination {
  z-index: 10;
  bottom: 70px;
  left: 50%;
  transform: translatex(-50%);
}
.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  background: #ff4f53;
}
.swiper-pagination-bullet:last-of-type {
  margin-right: 0;
}
.clients {
  padding-top: 140px;
  padding-bottom: 60px;
  background-image: url('../images/bg_3.jpg');
  background-position: 50% 0;
  color: #fff;
  text-align: center;
  background-size: 100% auto;
  /* h2 {
		width: 90%;
		max-width: 670px;
		margin: 0 auto;
		margin-bottom: 50px;
		line-height: 39px;
		} */
}
.clients ul {
  margin-bottom: 50px;
}
.clients ul li {
  display: inline-block;
  width: 20%;
  text-align: left;
  font-size: 20px;
  line-height: 25px;
  margin: 0 auto;
}
.clients .button {
  color: #fff;
  margin: 0 auto;
}
.results {
  padding-top: 115px;
  padding-bottom: 95px;
  text-align: center;
}
.results h2 {
  position: relative;
  margin-bottom: 110px;
  text-transform: uppercase;
}
.results h2::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translatex(-50%);
  width: 200px;
  height: 3px;
  background-color: #f15151;
}
.results .result {
  display: inline-block;
  width: 230px;
  padding-top: 100px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 50% 0;
  vertical-align: top;
}
.results .result1 {
  background-image: url('../images/clients.png');
}
.results .result2 {
  background-image: url('../images/graph.png');
}
.results .result3 {
  background-image: url('../images/base.png');
}
.results .result4 {
  background-image: url('../images/good.png');
}
.footer {
  padding-top: 80px;
  padding-bottom: 40px;
  background-image: url('../images/bg_bottom.jpg');
  background-position: 50% 0;
  color: #fff;
  text-align: center;
  background-size: 100% auto;
}
.footer h2 {
  margin-bottom: 65px;
  text-align: center;
  font-size: 30px;
  line-height: 46px;
}
.footer .button {
  display: block;
  margin: 0 auto;
  margin-bottom: 55px;
  color: #fff;
  text-transform: uppercase;
}
.footer p {
  position: relative;
  width: 190px;
  padding-bottom: 50px;
  margin: 0 auto;
}
.footer p::before {
  content: '';
  position: absolute;
  top: 10px;
  right: -200px;
  width: 185px;
  height: 1px;
  background-color: #6475a2;
}
.footer p::after {
  content: '';
  position: absolute;
  top: 10px;
  left: -200px;
  width: 185px;
  height: 1px;
  background-color: #6475a2;
}
.footer .social {
  display: inline-block;
  padding-top: 30px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 50% 0;
}
.footer .social a {
  font-family: GothamProMedium;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
.footer .social span {
  font-size: 14px;
}
.footer .phone {
  margin-right: 70px;
  background-image: url('../images/whatsapp.png');
}
.footer .email {
  margin-right: 50px;
  background-image: url('../images/email.png');
}
.footer .skype {
  background-image: url('../images/skype.png');
}
@media (min-width: 800px) {
  .header .header_right {
    display: block;
    float: right;
    padding-top: 5px;
    margin-top: -5px;
  }
  .header .header_right li {
    display: inline-block;
    list-style: none;
  }
  .header .header_right li a {
    text-decoration: none;
    color: #fff;
  }
  .header .header_right li p {
    padding-left: 67px;
    font-size: 10px;
    color: #fff;
  }
  .header .header_right li .phone {
    position: relative;
    padding-left: 45px;
  }
  .header .header_right li .phone::before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    border: 5px solid transparent;
    border-top: 8px solid #fff;
  }
  .header .header_right li .button {
    padding: 10px;
    margin-left: 15px;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    border: 2px solid #f15151;
    outline: none;
  }
  .header .header_right .header_phone {
    position: relative;
    transition: 0.3s ease;
    animation-delay: 0.8s;
  }
  .header .header_right .header_phone .header_skype {
    display: none;
  }
  .header .header_right .header_phone:hover {
    margin-top: -15px;
    margin-right: -15px;
    padding: 15px;
    padding-bottom: 70px;
    background: rgba(0, 0, 0, 0.5);
  }
  .header .header_right .header_phone:hover .header_skype {
    display: block;
    position: absolute;
    top: 60px;
    right: 20px;
    text-align: right;
  }
  .header .header_right .header_phone:hover .header_skype span {
    color: #fff;
    font-size: 9px;
  }
  .header .header_right .header_phone:hover .header_skype a {
    display: block;
    color: #fff;
  }
  .header .header_right .button {
    animation-delay: 1s;
  }
}
@media (min-width: 800px) and (max-width: 1200px) {
  .header .header_right li {
    margin-top: 10px;
  }
  .header .header_right li .phone {
    padding-left: 45px;
  }
  .header .header_right li .phone::before {
    display: none;
  }
}
@media (min-width: 800px) and (min-width: 1200px) {
  .header .header_right {
    padding-top: 15px;
  }
}
@media (max-width: 1200px) {
  .wrapper {
    width: 800px;
  }
  .modal .modal_content {
    width: 700px;
  }
  .header {
    padding-top: 10px;
  }
  .header .logo {
    width: 100px;
    height: 40px;
    margin-top: 20px;
    background-size: 100%;
  }
  .header .main_nav {
    margin-left: 130px;
  }
  .header .main_nav ul li {
    margin-right: 20px;
  }
  .advantages h1 {
    font-size: 28px;
  }
  .dignity .dignity_left {
    padding-right: 250px;
  }
  .dignity .dignity_right {
    padding-left: 0;
    padding-right: 250px;
    text-align: right;
  }
  .dignity .dignity_right h3 {
    text-align: right;
  }
  .dignity img {
    left: 100%;
    top: -110px;
    height: 630px;
    transform: translatex(-60%);
  }
  .dignity .dignity_fourth {
    padding-left: 0;
    padding-right: 70px;
    background-position: right top;
  }
  .dignity .dignity_fifth {
    padding-left: 0;
    padding-right: 70px;
    background-position: right top;
  }
  .dignity .dignity_sixth {
    padding-left: 0;
    padding-right: 70px;
    background-position: right top;
  }
  .phone-slider {
    top: -35px;
    left: auto;
    right: -107px;
    width: 274px;
    height: 483px;
  }
  .phone-slider .phone-slide {
    left: -110px;
    width: 274px;
    height: 483px;
  }
  .phone-slider .phone-slide img {
    width: 274px;
    height: 483px;
  }
  .dignity-slide {
    width: 100%;
  }
  .dignity-wrapper {
    padding-bottom: 70px;
  }
  .clients {
    padding-top: 80px;
  }
  .clients ul li {
    width: 30%;
  }
  .results {
    padding-top: 90px;
  }
  .results .result {
    width: 190px;
    padding-top: 70px;
    background-size: 50px;
  }
  .footer h2 {
    font-size: 26px;
  }
}
@media (max-width: 800px) {
  .wrapper {
    width: 95%;
    margin: 0 auto;
  }
  .modal .modal_content {
    top: 40%;
    width: 90%;
  }
  .modal .modal_content .modal_main_h {
    width: 90%;
  }
  .modal .modal_content .close {
    top: 0;
  }
  .modal .modal_content p {
    padding-bottom: 10px;
    width: 90%;
  }
  .modal .modal_content form > div:first-of-type {
    width: 100%;
    padding-bottom: 0;
    margin-bottom: -20px;
  }
  .modal .modal_content form > div:last-of-type {
    width: 100%;
  }
  .modal .modal_content .chkbox_h {
    display: none;
  }
  .modal .modal_content input {
    padding: 5px;
  }
  .modal .modal_content .chkbox_label {
    width: 100%;
  }
  .modal button {
    width: 100%;
  }
  .header {
    height: auto;
  }
  .header .logo {
    top: 0;
    left: 50%;
    transform: translatex(-50%);
    width: 150px;
    height: 60px;
    z-index: 10;
  }
  .header .menu_button {
    width: 40px;
    height: 60px;
    padding-top: 20px;
    cursor: pointer;
  }
  .header .menu_button .menu_line {
    width: 40px;
    height: 5px;
    margin-bottom: 12px;
    background-color: #fff;
  }
  .header .main_nav {
    margin-left: 0;
  }
  .header .main_nav ul {
    display: block;
    position: absolute;
    z-index: 10;
    width: 95%;
    margin-top: 20px;
  }
  .header .main_nav ul li:nth-of-type(1) {
    animation-delay: 0s;
  }
  .header .main_nav ul li:nth-of-type(2) {
    animation-delay: 0.2s;
  }
  .header .main_nav ul li:nth-of-type(3) {
    animation-delay: 0.4s;
  }
  .header .main_nav ul li {
    display: block;
    width: 100%;
    margin-top: 0;
    padding: 20px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .header .main_nav ul li:hover {
    background-color: #000000;
  }
  .header .main_nav .mobile_list {
    display: block;
  }
  .menu_hide {
    display: none;
  }
  .advantages .advantage_row {
    width: 100%;
    text-align: center;
  }
  .advantages .advantage {
    width: 49.5%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .dignity .dignity_left {
    padding-top: 600px;
    padding-right: 0;
  }
  .dignity .dignity_left h3 {
    text-align: left;
  }
  .dignity .dignity_right {
    padding-top: 600px;
    padding-right: 0;
  }
  .dignity .dignity_right h3 {
    text-align: left;
  }
  .dignity img {
    left: 50%;
    transform: translatex(-50%);
  }
  .dignity .dignity_item {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 75px;
  }
  .dignity .dignity_item p {
    text-align: left;
  }
  .dignity .dignity_first {
    padding-right: 0;
    padding-left: 70px;
    background-position: left top;
  }
  .dignity .dignity_second {
    padding-right: 0;
    padding-left: 70px;
    background-position: left top;
  }
  .dignity .dignity_third {
    padding-right: 0;
    padding-left: 70px;
    background-position: left top;
  }
  .dignity .dignity_fourth {
    padding-right: 0;
    padding-left: 70px;
    background-position: left top;
  }
  .dignity .dignity_fifth {
    padding-right: 0;
    padding-left: 70px;
    background-position: left top;
  }
  .dignity .dignity_sixth {
    padding-right: 0;
    padding-left: 70px;
    background-position: left top;
  }
  .phone-slider {
    right: auto;
    left: calc(50% - 137px);
  }
  .phone-slider .phone-slide {
    left: 0;
  }
  .clients ul li {
    padding-left: 50px;
    width: 49%;
  }
  .results .result {
    width: 49.5%;
    margin-bottom: 20px;
  }
  .footer p::before {
    display: none;
  }
  .footer p::after {
    display: none;
  }
  .footer .phone {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .footer .email {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
}
@media (max-width: 1570px) {
  .bg_top {
    background-size: auto 100%;
  }
}
@media (max-width: 1630px) {
  .clients {
    background-size: auto 100%;
  }
}
@media (max-width: 600px) {
  .clients ul li {
    padding-left: 0;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 520px) {
  .results .result {
    width: 100%;
  }
}
@media (max-width: 1590px) {
  .footer {
    background-size: auto 100%;
  }
}
