.clients {
	padding-top: 140px;
	padding-bottom: 60px;
	background-image: url('../images/bg_3.jpg');
	background-position: 50% 0;
	color: #fff;
	text-align: center;
	background-size: 100% auto;

	@media (max-width: 1630px) {
		background-size: auto 100%;
	}

	@media (max-width: 1200px) {
		padding-top: 80px;
	}

	h2 {
		width: 90%;
		max-width: 670px;
		margin: 0 auto;
		padding-bottom: 50px;
		line-height: 39px;
	} 

	.forwhat {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 20px;

		@media (max-width: 1200px) {
			justify-content: space-around;
			margin-left: 10%;
		}

		@media (max-width: 800px) {
			margin-left: 0px;
		}

		ul {

			@media (max-width: 1200px) {
				width: 40%;
			}

			@media (max-width: 800px) {
				width: 100%;
			}

			li {
				text-align: left;
				font-size: 20px;
				line-height: 25px;
				margin: 0 auto;

				@media (max-width: 800px) {
					text-align: center;
					list-style: none;
				}
			}
		}
	}

	.button {
		display: block;
		color: #fff;
		margin: 0 auto;
	}
}