.clients {
	padding-top: 140px;
	padding-bottom: 60px;
	background-image: url('../images/bg_3.jpg');
	background-position: 50% 0;
	color: #fff;
	text-align: center;
	background-size: 100% auto;

	@media (max-width: 1630px) {
		background-size: auto 100%;
	}

	@media (max-width: 1200px) {
		padding-top: 80px;
	}

	/* h2 {
		width: 90%;
		max-width: 670px;
		margin: 0 auto;
		margin-bottom: 50px;
		line-height: 39px;
		} */

		ul {
				margin-bottom: 50px;

			li {
				display: inline-block;
				width: 20%;
				text-align: left;
				font-size: 20px;
				line-height: 25px;
				margin: 0 auto;

				@media (max-width: 1200px) {
					width: 30%;
				}

				@media (max-width: 800px) {
					padding-left: 50px;
					width: 49%;
				}

				@media (max-width: 600px) {
					padding-left: 0;
					width: 100%;
					text-align: center;
				}
			}
		}

		.button {
			color: #fff;
			margin: 0 auto;
		}
	}