.dignity {
	position: relative;
	padding-top: 75px;
	
	.dignity_left {
		display: inline-block;
		width: 50%;
		margin-right: -4px;
		padding-right: 215px;
		vertical-align: top;
		text-align: right;

		h3 {
			text-align: right;
		}
	}

	.dignity_right {
		display: inline-block;
		width: 50%;
		margin-right: -4px;
		padding-left: 215px;
		vertical-align: top;

		h3 {
			text-align: left;
		}
	}

	img {
		position: absolute;
		top: -134px;
		left: 50%;
		transform: translatex(-50%);
	}

	.dignity_item {
		margin-bottom: 75px;

		h3 {
			font-family: GothamProRegular;
			font-size: 20px;
			line-height: 26px;
		}

		p {
			font-size: 14px;
			line-height: 23px;
			color: #666666;
		}
	}

	.dignity_first {
		padding-right: 70px;
		background-image: url('../images/cost.png');
		background-position: right;
	}

	.dignity_second {
		padding-right: 70px;
		background-image: url('../images/manager.png');
		background-position: right;
	}

	.dignity_third {
		padding-right: 70px;
		background-image: url('../images/publish.png');
		background-position: right;
	}

	.dignity_fourth {
		padding-left: 70px;
		background-image: url('../images/experience.png');
		background-position: left;
	}

	.dignity_fifth {
		padding-left: 70px;
		background-image: url('../images/warranty.png');
		background-position: left;
	}

	.dignity_sixth {
		padding-left: 70px;
		background-image: url('../images/analitics.png');
		background-position: left;
	}
}